.wrap{
    margin: 200px auto;
}
.row{
    width: 500px;
    height: 250px;
    margin-left: 250px;
    margin-top: 250px;
    background: linear-gradient(45deg,rebeccapurple,blue,yellowgreen);
    box-shadow:  0 0 25px rgba(80,150,100,10);
}
.row1{
    width: 495px;
    height: 245px;
    background-color: black;
    border: 1px solid;
    position: absolute;
    top: 252px;
    left: 260px;
}